.img-fit {
    object-fit: cover; /* Ensures the image is fully visible without being cropped */
    height: 35vw; /* Adjust as needed */
    width: 20vw; /* Adjust as needed */
  }
  .hero-text{
    color: black;
    text-align: center;
    width: 40vw;
    margin: auto;
    background-color: rgba(166, 164, 165, 0.3);
    border-radius: 30px;
    border: none;
  }

  .carousel-caption-center {
    position: absolute;
    top: 50%;
    left: 50%;
    align-content: center;
    transform: translate(-50%, -50%);
    width: 100%;
    color: white; /* Optional: to ensure text is visible on the image */
  }
  
  h5{
    font-size: 5vw;
    font-weight: 400;
  }