.WN-Content{
    text-align: center;
    font-size: 25px;
    
}

.WN-Content-btn{
    margin: auto;
    justify-content: center;
    min-height: 20vh;
    margin-top: 30px;
}

.page-about-content{
    width: 50%;
    text-align: center;
    justify-content: center;
    margin: auto;
    font-size: 20px;
    margin-top: 30px;
}
.page-about-container{
    min-height: 50vh;
    margin: auto;


}