
.imgside{
    min-width: 40vw;
    min-height: 68vh;
    background-image: url('../../assets/images/dogandcatlogin.png');
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
  background-color: aliceblue;
}