.password-input-container {
    position: relative;
  }
  
  .password-toggle-icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-90%);
    cursor: pointer;
    z-index: 2;
  }